<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jundy.linkopener</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>09CC996E-CB07-4200-9CF4-6010AA2533F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CFE912F5-B7F2-4FB1-8B9D-E139434AFD63</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>49E47331-FA4F-4C25-BB08-BB344B51A6D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A6DD6BD-5F0B-4131-8D9D-38AA47D83ECB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7ECD89F0-69D5-4743-AAF9-E0C2751C5A6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5ADBA718-2EF4-459C-AE9F-3FF7E9C686E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7F516328-55B7-4744-AFB7-52B16646032F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>802A07C9-DC0F-4694-8880-60C52A81DC77</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>49E47331-FA4F-4C25-BB08-BB344B51A6D7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Erik Tank</string>
	<key>description</key>
	<string>Quick way to open links</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Link Opener</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

./link_data_update.pl $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>github_update.pl</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7A6DD6BD-5F0B-4131-8D9D-38AA47D83ECB</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>7ECD89F0-69D5-4743-AAF9-E0C2751C5A6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>l</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading results...</string>
				<key>script</key>
				<string>query=$*

perl linkopener.pl "$query" 2&gt;&amp;1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Filter your links</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>49E47331-FA4F-4C25-BB08-BB344B51A6D7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>802A07C9-DC0F-4694-8880-60C52A81DC77</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>link add</string>
				<key>subtext</key>
				<string>Add URL to Link Opener</string>
				<key>text</key>
				<string>link add &lt;url&gt; [optional name]</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>09CC996E-CB07-4200-9CF4-6010AA2533F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

./link_data_add.pl $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CFE912F5-B7F2-4FB1-8B9D-E139434AFD63</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>.linkopener.txt</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>7F516328-55B7-4744-AFB7-52B16646032F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>link edit</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open link data file</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5ADBA718-2EF4-459C-AE9F-3FF7E9C686E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred Workflow to quickly open routine links by a common name.

Please see https://github.com/skeletonkey/link_opener for current information.

Latest release can be found: https://github.com/skeletonkey/link_opener/releases

Requirements
  - Perl 5

Usage
  - 'link link_name' - launch URL
  - 'link add url [link_name]' - save a new url with an optional name
  - 'link edit' - open the file with link data to delete or edit
</string>
	<key>uidata</key>
	<dict>
		<key>09CC996E-CB07-4200-9CF4-6010AA2533F4</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
		<key>49E47331-FA4F-4C25-BB08-BB344B51A6D7</key>
		<dict>
			<key>note</key>
			<string>Please submit issues and feature requests at https://github.com/skeletonkey/link_opener/issues</string>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>5ADBA718-2EF4-459C-AE9F-3FF7E9C686E7</key>
		<dict>
			<key>xpos</key>
			<real>230</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>7A6DD6BD-5F0B-4131-8D9D-38AA47D83ECB</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>7ECD89F0-69D5-4743-AAF9-E0C2751C5A6E</key>
		<dict>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>7F516328-55B7-4744-AFB7-52B16646032F</key>
		<dict>
			<key>xpos</key>
			<real>455</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>802A07C9-DC0F-4694-8880-60C52A81DC77</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>CFE912F5-B7F2-4FB1-8B9D-E139434AFD63</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>365</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>{{VERSION}}</string>
	<key>webaddress</key>
	<string>https://github.com/skeletonkey/link_opener</string>
</dict>
</plist>
